.BackAgainPage h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.solid {
  border: 3px solid #e7e7e7;
  margin: 20px 0;
  padding: 0;
}

.BackAgainPage h2 {
  font-size: 55px;
  margin-bottom: 20px;
}

.FailedList {
  border: 3px solid #e7e7e7;
  border-radius: 30px;
  padding: 20px;
}

.FailedList p {
  font-size: 40px;
}

.BackAgainPage button {
  width: 900px;
  height: 150px;
  border-radius: 100px;
  margin-top: 800px;
  font-size: 50px;
  color: #fefefe;
  text-decoration: none;
  background-color: #6780ff;
}
